#board {
  margin: 0;
}

.sidenav{
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #45B29D;
  overflow-x:hidden;
  box-shadow: 10px 0px 10px 0px rgba(0, 0, 0, 0.1);
  text-align: center;

  /* flex properties */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.timer {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #DF5A49;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  font-size: 36px;
  font-family: monospace;
  padding: 0 10px 0 10px;
}

.message {
  position: absolute;
  background-color: #45B29D;
  border-radius: 5px;
  padding: 10px;
  bottom: 10px;
  left: 40%;
  opacity: 0.8;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.player {
  display: flex;
  flex-direction: column;
  height: 160px;
  width: 160px;
  border-radius: 5px;
  background-color: #45B29D;
  margin: 2em 0 2em 0;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.btn {
  margin-bottom: 1em;
}